.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 80vh;
  overflow-y: auto;
  max-width: 500px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0 5px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.file {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.fileInput {
  display: none;
}

.choices {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.choice {
  background: var(--color-bg-light);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-txt-light);
  font-size: .8em;
}

.choice[data-checked="true"] {
  background: var(--color-arrd);
}