.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  text-align: center;
  color: var(--color-arrd)
}

.difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
}