.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  flex-basis: 250px;
  cursor: pointer;
  justify-content: flex-end;
}

.nameContainer {
  display: flex;
  align-content: center;
  gap: 10px;
  align-items: center;
}

.name {
  font-size: 18px;
  color: var(--color-tierce);
  text-align: center;
}

.owner {
  text-align: center;
  line-height: 0;
}

.name::first-letter {
  text-transform: uppercase;
}


.localization {
  display: flex;
  gap: 5px;
  align-items: center;
}

.here {
  text-align:center;
  font-style: italic;
  color: var(--color-txt-error);
  font-size: 14px;
}

.here[data-ishere='true'] {
  color: var(--color-link)
}