
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--color-bg-dark);
  padding-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  width: 155px;
}

.map {
  height: 100px;
  filter:grayscale();
}

.content {
  cursor: pointer;
}

.label {
  font-size: 14px;
  text-align: center;
  color: var(--color-tierce)
}

.label::first-letter {
  text-transform: uppercase;
}

.address {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.city {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.label,.address,.city {
  padding: 0 5px;
}