.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
  align-items: center;
}

.input {
    width: 100%;
}

.addresses {
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0
}

.address {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 13px;
  background: var(--color-bg-dark);
  padding: 8px;
  border-radius: 3px;
}

.street {
  font-weight: bold;
  text-transform: uppercase;
}

.city {
  font-style: italic;
}