.container {
  display: grid;
  grid-template-rows: auto 1fr repeat(2,auto);
  gap: 5px;
  height: 100%;
}

.box {
  height: 100%;
  position: relative;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  overflow-y: auto;
  gap: 10px;
  padding: 15px 0;
  flex-direction: column;
}
.date {
  display: flex;
  gap: 5px;
  justify-content: space-between;
    align-items: center;
}

.day {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.day::first-letter ,.day > div::first-letter{
  text-transform: uppercase;
}


.hour {
  color: var(--color-tierce);
  text-align: center;
}

.map {
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.address {
  text-align: center;
  font-size: 12px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.details {
  overflow-x: hidden;
}