.container {
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 10%;
  z-index: 100;
  gap: 10px;
  background: var(--color-bg-dark);
  border-top: 1px solid var(--color-border);
  box-shadow: -10px 0 10px rgba(0, 0, 0, .7);
  padding-top: 10px;
  border-radius: 30px 30px 0 0;

}

.box {
position: relative;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.close{
  justify-self: end;
  align-self: flex-end;
  padding-right: 20px;
}
