.container {
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 100;
  gap: 10px;
  background: var(--color-bg-dark);
  border-top: 1px solid var(--color-border);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.7);
  padding-top: 10px;
}

.box {
  position: relative;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px 10px;
  align-items: center;
}
