.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.file {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.logo {
  max-width: 200px;
  padding: 0 15px;
}

.fileInput {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 20px 15px;

}