.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}