.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 80vh;
  overflow-y: auto;
  max-width: 500px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}


.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.file {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.fileInput {
  display: none;
}