.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  margin: 0 -8px;
  padding: 10px;
}

.title {
  text-align: center;
}

@media screen and (min-width: 550px){

  .container {
    min-width: 500px;
  }
}