.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-areas:
    "avatar name name"
    "score score score";
  background: var(--color-bg-light);
  padding: 10px;
  max-width: 400px;
  border-radius: 5px;
  gap: 5px;
  border: 1px solid var(--color-bg-light);
}

.container[data-isme='true'] {
  box-shadow: 0 0 5px var(--color-tierce);
}

.nameContainer {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarContainer {
  grid-area: avatar;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.scoreContainer {
  grid-area: score;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.avatar {
  width: 40px;
}

.speedContainer {
  width: 100%;
  grid-column: 1/4;
}