.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  align-items: flex-start;
  gap: 20px;
}

.title {
  text-align: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.header {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.calendar[data-ismobile='true'] .header {
  font-size: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

/** --- MOBILE --- */

.calendar[data-ismobile='true'] {
  gap: 10px;
}
