.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  align-items: flex-start;
  gap: 20px;
}

.title {
  text-align: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.header {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.calendar[data-ismobile='true'] .header {
  font-size: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.day {
  display: flex;
  height: 100%;
  justify-content: center;
  cursor: pointer;
}

.day[data-currentmonth='false'] {
  opacity: 0.5;
}

.calendar[data-ismobile='false'] .day {
  background: var(--color-bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80px;
}

.calendar[data-ismobile='false'] .dayNum {
  background: black;
  font-size: 12px;
  padding: 3px;
  text-align: right;
}

.calendar[data-ismobile='false'] .dayNum[data-today='true'],
.calendar[data-ismobile='true'] .dayNum[data-today='true']  {
  background: var(--color-arrd);
  color: white;
}


/** --- MOBILE --- */

.calendar[data-ismobile='true'] {
  gap: 10px;
}

.calendar[data-ismobile='true'] .dayNum {
  background: var(--color-second);
  position: relative;
  font-size: 15px;
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
