.container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
    height: 100%;
}

.title {
    text-align: center;
}

.users {
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    justify-content: center;
}