.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: 500px){
  .items{
    justify-content: center;
  }
}