.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  align-content: center;
  padding: 5px 0;
  text-transform: uppercase;
  color: white;
}

.day,
.month {
  font-size: 12px;
  text-align: center;
}

.end {
  font-size: 0.8em;
}

.num {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
