.container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 15px;
  height: 100%;
}

.user {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cancel {
  background: var(--color-txt-error);
  color: white;
  padding: 10px;
  text-align: center;
  transform-origin: center center;
  width: 100%;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 530px) {
  .user {
    width: 100%;
  }
}