.container {
    background: var(--color-bg-light-extra);
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 200ms ease-in-out;
    flex-direction: column;
    gap: 10px;
    padding:10px;
  }

  .container[data-ismobile='false']{
    flex-basis: 250px;
  }

  .container[data-ismobile='true']{
    min-width: calc(100vw - 60px);
  }
  
  .container:hover {
    border: 1px solid var(--color-arrd);
  }

  .day {
    font-size: 70px;
    font-weight: bold;
    line-height: .9em;
  }

  .containerDate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    white-space: nowrap;
  }

  .month {
    font-size: 15px;
  }

  .date {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--color-tierce);
  }

  .relativeDate {
    font-size: .8em;
  }

  .hour {
    font-size: 18px;
    color:var(--color-link);
    text-align: center;
  }

  .address {
    font-size: .7em;
    text-align: center;

  }

  .typeContainer {
    display:flex;
    justify-content: center;
    padding: 5px;
  }

  .type {
    border: 1px solid var(--color-txt);
    padding: 8px 15px;

  }

  .require {
    font-size: .8em;
    color: var(--color-txt-error)
  }

  .labelRequire {
    color:var(--color-txt)
  }

  .labelPresence {
    font-size: .8em;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .map {
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    filter: hue-rotate(50deg);
  }