.container {
  background: var(--color-bg-light-extra);
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 200ms ease-in-out;
  flex-direction: column;
  gap: 10px;
  padding:10px;
  position:relative;
  overflow: hidden;
  justify-content: space-between;
}

.container[data-cancel='true'] >div:not(.cancel){
  filter:grayscale()
}

.cancel {
  background: var(--color-txt-error);
  color: white;
  padding:10px;
  position: absolute;
  top: 20px;
  right: -50px;
  left: 50%;
  text-align:center;
  transform-origin: center center;
  transform: rotate(45deg);
  box-shadow: 5px 0 5px rgba(0, 0, 0, .5);
  z-index: 1;
}

.container[data-ismobile='false']{
  flex-basis: 250px;
}

.container[data-ismobile='true']{
  min-width: calc(100vw - 60px);
}

.container:hover {
  border: 1px solid var(--color-arrd);
}

.day {
  font-size: 70px;
  font-weight: bold;
  line-height: .9em;
}

.containerDate {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  white-space: nowrap;
}

.month {
  font-size: 15px;
}

.dayString {
  font-size: 10px;
}

.date {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--color-tierce);
}

.relativeDate {
  font-size: .8em;
}

.hour {
  font-size: 18px;
  color:var(--color-link);
  text-align: center;
}

.address {
  font-size: .7em;
  text-align: center;

}

.require {
  font-size: .8em;
  color: var(--color-txt-error)
}

.labelRequire {
  color:var(--color-txt)
}

.labelPresence {
  font-size: .8em;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.map {
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  filter: hue-rotate(50deg);
}