.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.events {
  width: auto;
  display: flex;
  gap: 15px;

}
.events[data-ismobile="false"]{
  flex-wrap: wrap;
}

.events[data-ismobile="true"]{
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.events::-webkit-scrollbar {
  display: none;
}

.noResult {
  text-align: center;
}
