.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.noResult {
  text-align: center;
  display: flex;
  justify-content: center;
}


.filter {
  max-width: 400px;
}