.container {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid var(--color-bg-light);
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.date {
  font-size: 0.8em;
  text-align: right;
}

.text {
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.buttons button {
  padding: 7px;
}

.accept {
  background: var(--color-arrd);
}

.refused {
  background: var(--color-txt-error);
}
