.container {
  background: var(--color-bg-dark);
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  gap: 20px;
  padding: 10px;
  overflow: hidden;
  flex-basis: 500px
}

.img {
  display: flex;
  justify-content: center;
}

.img img {
  width: 100%;
  height: auto;
}

.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: stretch;
}

.answer {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  border-radius: 30px;
  justify-content: center;
  padding: 5px 8px;
  background: var(--color-border);
}

.answer[data-good='good'] {
  background: var(--color-quator);
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: .8em;
}

.difficulty {
  align-self: center;
}

.activate {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {

  .questions {
    display: flex;
    flex-direction: column;
  }

}