.container {
  display: flex;
  gap: 10px;
  background: var(--color-bg-light);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.type {
  background: var(--color-arrd);
  color:white;
  padding:3px;
  border-radius: 3px;
  align-items: center;
}