.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.items {
  display: flex;
 flex-direction: column;
 width: 500px;
  gap: 15px;
  justify-content: center;
}

@media screen and (max-width: 500px){
  .items{
    width: 100%;
  }
}