
.container {
  width: auto;
  display: flex;
  gap: 15px;

}
.container[data-ismobile="false"]{
  flex-wrap: wrap;
}

.container[data-ismobile="true"]{
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}
